/* Page Center */      
        
        body {
         margin: 0;
         padding: 0;
         padding-top:0px;
          text-align: center; 
        }

        header  {background-color:#fcdd60;
                  margin: 0;
                  padding: 0;
                 
                    position: sticky; /*(recomended)*/
                      top: 0px;
                      position: fixed;
                  
        }



/* List Items */
ul {text-align: center;
  list-style-type: none;
  margin-left:  auto;
  margin-right:  auto;
  padding: 0;    
}


