/* Page Center */      
        
       
header  {
  background-color:#fcdd60;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0px;
  position: absolute;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 250px;
   text-align: center; 
 }



/* List Items */
ul {text-align: center;
  list-style-type: none;
  margin-left:  auto;
  margin-right:  auto;
  padding: 0;    
}

